 .u-section-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/hydrant-with-water-hoses-fire-extinguish-equipment-wall-corridor_926199-2690942.jpg');
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 794px;
}

.u-section-1 .u-shape-1 {
  width: 570px;
  height: 311px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 24px;
  margin: 266px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 599px;
  min-height: 427px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 28px;
  margin: -472px auto 60px 53px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 48px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.625rem;
  font-weight: 700;
  margin: 13px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
  --radius: 12px;
  margin: 41px auto 0 0;
  padding: 10px 59px 11px;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
  --radius: 12px;
  margin: -50px 127px 0 auto;
  padding: 10px 59px 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-1 .u-shape-1 {
    width: 470px;
  }

  .u-section-1 .u-group-1 {
    width: 550px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 29.53% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-shape-1 {
    width: 360px;
    margin-top: 230px;
  }

  .u-section-1 .u-group-1 {
    width: 441px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.5rem;
    margin-left: 30px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 30px;
    padding-right: 32px;
    padding-left: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 111px;
    padding-bottom: 10px;
    padding-left: 31px;
    padding-right: 31px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 42.98% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-1 .u-shape-1 {
    width: 317px;
    height: 357px;
    margin-top: 221px;
  }

  .u-section-1 .u-group-1 {
    width: 332px;
    margin-top: -510px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 108px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-1 .u-shape-1 {
    width: 259px;
    height: 372px;
    --radius: 12px;
    margin-top: 175px;
  }

  .u-section-1 .u-group-1 {
    width: 279px;
    min-height: 485px;
    margin-top: -512px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 34px;
    margin-right: 52px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 11px;
    margin-left: auto;
    padding-right: 42px;
    padding-bottom: 10px;
    padding-left: 41px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 11px;
    margin-right: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 477px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 60px 84px 0;
}

.u-section-2 .u-text-2 {
  width: 760px;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 12px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 45px auto 60px;
  padding: 14px 57px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 2095px;
}

.u-section-3 .u-image-1 {
  min-height: 445px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/t4.png");
  height: auto;
  background-position: 50% 0%;
}

.u-section-3 .u-container-layout-1 {
  padding: 55px 30px 30px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-list-1 {
  width: 900px;
  margin: -210px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 1800px;
  grid-auto-columns: calc(50% - 10px);
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 12px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  --radius: 10px;
  height: 240px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-style: normal;
  margin: 17px auto 0 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 12px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  --radius: 10px;
  height: 240px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  font-style: normal;
  margin: 17px auto 0 0;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 12px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  --radius: 10px;
  height: 240px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  font-style: normal;
  margin: 17px auto 0 0;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 12px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  --radius: 10px;
  height: 240px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-10 {
  font-style: normal;
  margin: 17px auto 0 0;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 12px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  --radius: 10px;
  height: 240px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-12 {
  font-style: normal;
  margin: 17px auto 0 0;
}

.u-section-3 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 12px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  --radius: 10px;
  height: 240px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-14 {
  font-style: normal;
  margin: 17px auto 0 0;
}

.u-section-3 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 12px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-image-8 {
  --radius: 10px;
  height: 240px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-15 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-16 {
  font-style: normal;
  margin: 17px auto 0 0;
}

.u-section-3 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 12px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-image-9 {
  --radius: 10px;
  height: 240px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-17 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-18 {
  font-style: normal;
  margin: 17px auto 0 0;
}

.u-section-3 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 12px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-image-10 {
  --radius: 10px;
  height: 240px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-19 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-20 {
  font-style: normal;
  margin: 17px auto 0 0;
}

.u-section-3 .u-list-item-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 12px;
  box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
}

.u-section-3 .u-container-layout-11 {
  padding: 30px;
}

.u-section-3 .u-image-11 {
  --radius: 10px;
  height: 240px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-text-21 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-22 {
  font-style: normal;
  margin: 17px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 100px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1733px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-image-2 {
    height: 406px;
  }

  .u-section-3 .u-image-3 {
    height: 406px;
  }

  .u-section-3 .u-image-4 {
    height: 406px;
  }

  .u-section-3 .u-image-5 {
    height: 406px;
  }

  .u-section-3 .u-image-6 {
    height: 406px;
  }

  .u-section-3 .u-image-7 {
    height: 406px;
  }

  .u-section-3 .u-image-8 {
    height: 406px;
  }

  .u-section-3 .u-image-9 {
    height: 406px;
  }

  .u-section-3 .u-image-10 {
    height: 406px;
  }

  .u-section-3 .u-image-11 {
    height: 406px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-top: 85px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 320px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 320px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-4 {
    height: 320px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-5 {
    height: 320px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-6 {
    height: 320px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-7 {
    height: 320px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-8 {
    height: 320px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-9 {
    height: 320px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-10 {
    height: 320px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-11 {
    height: 320px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 4909px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 15px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-2 {
    height: 197px;
  }

  .u-section-3 .u-image-3 {
    height: 197px;
  }

  .u-section-3 .u-image-4 {
    height: 197px;
  }

  .u-section-3 .u-image-5 {
    height: 197px;
  }

  .u-section-3 .u-image-6 {
    height: 197px;
  }

  .u-section-3 .u-image-7 {
    height: 197px;
  }

  .u-section-3 .u-image-8 {
    height: 197px;
  }

  .u-section-3 .u-image-9 {
    height: 197px;
  }

  .u-section-3 .u-image-10 {
    height: 197px;
  }

  .u-section-3 .u-image-11 {
    height: 197px;
  }
}

.u-section-3 .u-list-item-5:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-list-item-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-list-item-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-5:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-list-item-5:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-list-item-5:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-section-3 .u-list-item-6:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-list-item-6:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-list-item-6:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-6:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-list-item-6:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-list-item-6:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-section-3 .u-list-item-9:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-list-item-9:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-list-item-9:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-9:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-list-item-9:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-list-item-9:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-section-3 .u-list-item-10:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-list-item-10:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-list-item-10:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-10:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-list-item-10:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-list-item-10:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/engineer-are-checking-inspection-red-fire-extinguishers-fire-control-room-safety-p_926199-3923913.jpg');
  background-position: 50% 50%, 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 606px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 802px;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 642px;
  margin: 45px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  --radius: 12px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 32px auto 60px;
  padding: 17px 60px 18px 58px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    background-position: 76.62% 64.41%;
    background-size: auto 130%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 130px;
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
    margin-top: 60px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
} .u-section-5 {
  background-image: url("images/65.jpg");
  background-position: 50% 71.25%;
}

.u-section-5 .u-sheet-1 {
  min-height: 973px;
}

.u-section-5 .u-text-1 {
  font-size: 2.75rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 247px 0 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 30px 247px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 546px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px 30px 0;
}

.u-section-5 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 317px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 10px 10px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 10px 10px 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px 10px 10px 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 546px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 60px 30px 0;
}

.u-section-5 .u-list-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 317px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px 10px 10px 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-10 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 10px 10px 10px 0;
}

.u-section-5 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-12 {
  margin: 20px auto 0 0;
}

.u-section-5 .u-container-layout-8 {
  padding: 10px 10px 10px 0;
}

.u-section-5 .u-text-13 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-14 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
    margin-right: 47px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 47px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 49px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-5 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 55px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-top: 0;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 20px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 575px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 455px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  --radius: 12px;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 455px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  --radius: 12px;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 455px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  --radius: 12px;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 455px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  --radius: 12px;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 375px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 375px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 375px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1028px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 314px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 916px;
}

.u-section-7 .u-shape-1 {
  width: 850px;
  height: 258px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  --bottom-right-radius: 24px;
  --bottom-left-radius: 24px;
  margin: 0 0 0 auto;
}

.u-section-7 .u-shape-2 {
  width: 447px;
  height: 500px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 24px;
  margin: 91px 0 0 auto;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1086px;
  margin: -740px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-7 .u-layout-cell-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px 30px 0;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-form-1 {
  margin: 46px 0 0;
}

.u-section-7 .u-btn-1 {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background-image: none;
  --radius: 12px;
}

.u-section-7 .u-layout-cell-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 24px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-shape-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 887px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-shape-1 {
    width: calc(((100% - 720px) / 2)  + 650px);
  }

  .u-section-7 .u-shape-2 {
    margin-top: 730px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 669px;
    margin-top: -1495px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-shape-1 {
    width: 513px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: 850px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 490px;
    margin-top: -1615px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1330px;
  }

  .u-section-7 .u-shape-1 {
    height: 303px;
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-shape-2 {
    width: 290px;
    height: 365px;
    margin-top: 635px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 320px;
    margin-top: -1259px;
    margin-left: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 730px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 475px;
  }
}